@model List<BroomService.ViewModels.GrantAccessViewModel>
@using BroomService.Resources;

@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<section id="bookings">
    <div class="container" style="min-height:350px">
        <div class="property-details-main">
            <h3>@Resource.granted_access_user_list</h3>
            @*<p>Lorem Ipsum is simply dummy text of the printing</p>*@
        </div>
        <div class="row mt-5">
                    @if (Model.Count > 0)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            <div class="col-12 col-md-8 col-lg-8 mb-5">
                                <div class="property_list_slider_box">
                                    <div class="booking_content mt-4 mt-md-0">
                                        <h5 class="mb-2">@Resource.email: @Model[i].Email</h5>
                                        <h6 class="mb-2">@Resource.comment: @Model[i].Comment</h6>
                                        <div class="booking-date-time d-sm-flex">
                                            <div class="date my-2"><img src="~/Content/images/date.png" class="mr-2" alt="Date"> @Model[i].Date.Value.ToString("ddd, MMMM dd, yyyy")</div>
                                            <div class="time my-2 ml-2"><img src="~/Content/images/time.png" class="mr-2" alt="Time"> @Model[i].Date.Value.ToString("hh:mm tt")</div>
                                        </div>
                                        <div class="row">
                                            @if (Model[i].AddEditPropertiesAccess == false || Model[i].AddEditPropertiesAccess == null)
                                            {
                                                <div class="col-md-6">
                                                    <span class="property-other-deatils mb-2">@Resource.access_to_change_properties</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-6">
                                                    <span class="property-other-deatils-online mb-2">@Resource.access_to_change_properties</span>
                                                </div>
                                            }
                                            @if (Model[i].OrderServicesAccess == false || Model[i].OrderServicesAccess == null)
                                            {
                                                <div class="col-md-6">
                                                    <span class="property-other-deatils mb-2">@Resource.access_to_order_change_services</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-6">
                                                    <span class="property-other-deatils-online mb-2">@Resource.access_to_order_change_services</span>
                                                </div>
                                            }
                                        </div>
                                        <div class="row">
                                            @if (Model[i].AddChangeCardAccess == false || Model[i].AddChangeCardAccess == null)
                                            {
                                                <div class="col-md-6">
                                                    <span class="property-other-deatils mb-2">@Resource.access_to_edit_change_card</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-6">
                                                    <span class="property-other-deatils-online mb-2">@Resource.access_to_edit_change_card</span>
                                                </div>
                                            }
                                            @if (Model[i].BillingPriceAccess == false || Model[i].BillingPriceAccess == null)
                                            {
                                                <div class="col-md-6">
                                                    <span class="property-other-deatils mb-2">@Resource.access_to_see_bill_price</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-6">
                                                    <span class="property-other-deatils-online mb-2">@Resource.access_to_see_bill_price</span>
                                                </div>
                                            }
                                            </div>
                                        </div>

                                        @if (@Model[i].PropertiesList != null)
                                        {
                                            for (int g = 0; g < Model[i].PropertiesList.Count; g++)
                                            {
                                                <div class="row">
                                                    <div class="col-md-12 mb-4">
                                                        <div class="list_review_services" onclick="PropertiesDetails(@Model[i].PropertiesList[g].PropertyId)">

                                                            <div class="d-block d-sm-flex d-md-block d-lg-flex">
                                                                <div class="align-items-center">
                                                                    <h3 style="color:#000;font-size: 21px;margin-bottom: 10px;font-weight: 700;text-transform: capitalize;">@Model[i].PropertiesList[g].PropertyName</h3>
                                                                    <div class="d-flex">
                                                                        <img src="~/Content/images/address.png" />
                                                                        <h3>@Model[i].PropertiesList[g].PropertyAddress</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            }
                                        }
                                    </div>
                            </div>
                        }
                    }
        </div>
    </div>
</section>

<script>
    function PropertiesDetails(Id) {
        window.location.href = "/Property/PropertyDetails?id=" + Id;
    }
</script>
