@using BroomService.Resources;
@model BroomService.ViewModels.GrantAccessViewModel

@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

            .dropbtn:hover, .dropbtn:focus {
                background-color: #3e8e41;
            }

        #myInput {
            box-sizing: border-box;
            background-image: url('searchicon.png');
            background-position: 14px 12px;
            background-repeat: no-repeat;
            font-size: 16px;
            padding: 14px 20px 12px 45px;
            border: none;
            border-bottom: 1px solid #ddd;
        }

            #myInput:focus {
                outline: 3px solid #ddd;
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f6f6f6;
            min-width: 230px;
            overflow: auto;
            border: 1px solid #ddd;
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }
    </style>
    <section id="view_edit_page_main" class="view_edit_page">

        <div class="container">
            <h2>@Resource.grant_access</h2>        
            <p></p>
            @if (TempData["ErrorMsg"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorMsg"]
                </div>
            }
            @if (TempData["SuccessMsg"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["SuccessMsg"]
                </div>
            }


        <div class="view_edit_box">

            @*<div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                <div id="myDropdown" class="dropdown-content">
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                    <a href="#about">About</a>
                    <a href="#base">Base</a>
                    <a href="#blog">Blog</a>
                    <a href="#contact">Contact</a>
                    <a href="#custom">Custom</a>
                    <a href="#support">Support</a>
                    <a href="#tools">Tools</a>
                </div>
            </div>*@



            <form class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="custom-register-label">@Resource.enter_property_name_address</label>
                        @Html.ListBoxFor(m => m.Property_List_id, new SelectList(ViewBag.Properties, "Value", "Text")
                         , new { @style = "width:100%;", @class = "listbox", @id = "Property_List_Id", @required = "required" })

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="custom-register-label">@Resource.email</label>
                        <div class="custom_input">
                            @Html.TextBoxFor(m => m.Email,
                            new
                                 {
                                     @class = "form-control form_edit_input",
                                placeholder = Resource.enter_email,
                                @required = "required",
                            @type = "email"
                                 })
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="custom-register-label">@Resource.comment</label>
                        <div class="custom_input">
                            @Html.TextBoxFor(m => m.Comment,
                            new
                                 {
                                     @class = "form-control form_edit_input",
                                placeholder = Resource.enter_comment
                                 })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="custom-register-label">@Resource.give_access_order_change_services</label>
                        <div class="row">
                            <div class="col-12 h-60">
                                <label class="switch switch_2">
                                    <input type="checkbox" id="OrderServicesAccess">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="custom-register-label">@Resource.give_access_add_change_properties</label>
                        <div class="row">
                            <div class="col-12 h-60">
                                <label class="switch switch_2">
                                    <input type="checkbox" id="AddEditPropertiesAccess">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="custom-register-label">@Resource.give_access_to_see_billing_info</label>
                        <div class="row">
                            <div class="col-12 h-60">
                                <label class="switch switch_2">
                                    <input type="checkbox" id="BillingPriceAccess">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="custom-register-label">@Resource.give_access_to_add_change_credit_card</label>
                        <div class="row">
                            <div class="col-12 h-60">
                                <label class="switch switch_2">
                                    <input type="checkbox" id="AddChangeCardAccess">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="btn arrow_btn_box" id="btn_submit">
                        <img src="~/Content/images/submit_next_btn.png" alt="next arrow" />
                    </button>
                </div>
            </form>
        </div>
        </div>
    </section>

<link href="~/Content/multiselect.css" rel="stylesheet" type="text/css" />
<script src="~/Content/js/multiselect.js" type="text/javascript"></script>

<script>
    $('.listbox').multiselect({
        includeSelectAllOption: true
    });
    var orderAccess;
    var propertyAccess;
    var billAccess;
    var cardAccess;


    function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
    }



    $("#OrderServicesAccess").change(function () {
        if (this.checked) {
            orderAccess = true;
        }
        else {
            orderAccess = false;
        }
    });
    $("#AddEditPropertiesAccess").change(function () {
        if (this.checked) {
            propertyAccess = true;
        }
        else {
            propertyAccess = false;
        }
    });
    $("#AddChangeCardAccess").change(function () {
        if (this.checked) {
            cardAccess = true;
        }
        else {
            cardAccess = false;
        }
    });
    $("#BillingPriceAccess").change(function () {
        if (this.checked) {
            billAccess = true;
        }
        else {
            billAccess = false;
        }
    });

   @* $(document).ready(function () {
    $(".side-btn").click(function(){
    ("#menu").toggleClass("mob-menu");
        });
    }); *@

    $("#btn_submit").click(function () {
        $("#Property_List_Id").attr('required', true);
        $("#Email").attr('required', true);
        if ($("#Property_List_Id").val().length > 0 &&$("#Email").val() != '') {
            submitForm();
        }
    });


     function submitForm() {
         var model=
            {
                "Property_List_id": $("#Property_List_Id").val(),
             "Email": $("#Email").val(),
             "Comment": $("#Comment").val(),
             "OrderServicesAccess": orderAccess,
             "AddEditPropertiesAccess": propertyAccess,
             "BillingPriceAccess": billAccess,
             "AddChangeCardAccess": cardAccess
         };

        $.ajax({
            url: "@Url.Action("GrantAccess", "Account")",
            data: JSON.stringify(model),
             contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "Post",
            beforeSend: function () {
                // Show image container
                $("#loader").show();
            },
            success: function (data) {
                alert(data);
            },
            error: function () {
                // Hide image container
                $("#loader").hide();
                alert("@Resource.some_error_occured");
            },
            complete: function (data) {              
                // Hide image container
                $("#loader").hide();
            }
        });
    }
</script>


