@using BroomService.Resources
@using BroomService.Helpers

@{
    var getDateTime = DateTime.Now.DayOfWeek;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Font awsome kit -->
    <script src="https://kit.fontawesome.com/40b745dcd8.js" crossorigin="anonymous"></script>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />

    <!-- owl javascript -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/owl.carousel.js"></script>

    <!-- Date time -->
    <link href="~/Content/datetime.css" rel="stylesheet" />
    <script src="~/Content/js/datetime.min.js"></script>

    <!-- Custom Css -->
    <link href="~/Content/style.css" rel="stylesheet" />
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    <link href="https://github.com/rstaib/jquery-steps/blob/master/demo/css/jquery.steps.css"
          rel="stylesheet" />

    <title>@Resource.broom_service</title>
    <style>
        #tooltip {
            position: relative;
            color: #fff;
        }

        .bs-tooltip-bottom .arrow::before {
            border-bottom-color: #214378 !important;
        }

        .tooltip-inner {
            background: #214378;
            color: #fff;
        }

        .tooltip.top .tooltip-arrow {
            border-top-color: #214378;
        }

        .tooltip.right .tooltip-arrow {
            border-right-color: #214378;
        }

        .tooltip.bottom .tooltip-arrow {
            border-bottom-color: #214378;
        }

        .tooltip.left .tooltip-arrow {
            border-left-color: #214378;
        }

        #tooltip span {
            position: relative;
            color: #fff;
        }

        .custom_nav .nav-item:hover #tooltip span {
            color: #fff;
        }

        /*css form language popup*/
        .inputGroup {
            background-color: #fff;
            display: inline-block;
            margin: 10px 0;
            position: relative;
            width: 49%;
        }

            .inputGroup input {
                width: 32px;
                height: 32px;
                order: 1;
                z-index: 2;
                position: absolute;
                right: 30px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                cursor: pointer;
                visibility: hidden;
            }

            .inputGroup label {
                padding: 8px 20px 8px 60px;
                width: 100%;
                display: block;
                text-align: left;
                font-size: 20px;
                font-weight: 400;
                cursor: pointer;
                position: relative;
                z-index: 2;
                transition: color 200ms ease-in;
                overflow: hidden;
                margin-bottom: 0;
                border: 2px solid #ccc;
                border-radius: 8px;
                transition: border 300ms;
            }

                .inputGroup label:before {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    content: '';
                    background-color: #214378;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
                    transform: translate(-50%, -50%) scale3d(1, 1, 1);
                    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
                    opacity: 0;
                    z-index: -1;
                }

                .inputGroup label:after {
                    width: 32px;
                    height: 32px;
                    content: '';
                    border: 2px solid #D1D7DC;
                    background-color: #fff;
                    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23ccc' fill-rule='nonzero'/%3E%3C/svg%3E ");
                    background-repeat: no-repeat;
                    background-position: 2px 3px;
                    border-radius: 50%;
                    z-index: 2;
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    cursor: pointer;
                    transition: all 200ms ease-in;
                }

        .footer_box {
            padding-left: 250px;
        }

        .checklist_property_main button.choose_language_done, .checklist_property_main button.choose_language_done:hover {
            background-color: rgb(33, 67, 120) !important;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.23);
            border-radius: 100px;
            height: 47px;
            line-height: 47px;
            font-size: 17px;
            font-weight: 500;
            text-transform: uppercase;
            padding: 0 50px;
            color: #fff;
            border: 0;
            position: unset;
            /* text-align: center; */
            width: auto;
        }

        .inputGroup input:checked ~ label {
            color: #fff;
            border: 2px solid #214378;
            border-radius: 8px;
        }

            .inputGroup input:checked ~ label:before {
                -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
                transform: translate(-50%, -50%) scale3d(56, 56, 1);
                opacity: 1;
            }

            .inputGroup input:checked ~ label:after {
                background-color: #fff;
                border-color: #fff;
            }

        @@media screen and (max-width: 575px) {
            .footer_box {
                padding-left: 0px;
            }
        }

        .grant-access-user {
            padding-left: 50px;
        }

        #menu {
            width: 292px;
        }

            #menu ul li {
                width: 100%;
            }


        .logo-image {
            width: 46px;
            height: 46px;
            border-radius: 50%;
            overflow: hidden;            
            float:left;
            padding-left: 5px;
        }
    </style>
</head>
<body>
    <div class="side-btn">
        <i class="fas fa-bars"></i>
    </div>

    <aside id="menu" class="mob-menu">
        <div id="navigation">
            <ul class="nav" id="side-menu">
                <li class="active">
                    <a href="/Account/Profile" title="@Resource.profile">
                        <div class="menu-icon text-center">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="menu-text">
                            <span class="nav-label">@Resource.profile</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/Account/ChangePassword" title="@Resource.change_password">
                        <div class="menu-icon text-center">
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="menu-text">
                            <span class="nav-label">@Resource.change_password</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/Account/PropertyManagers" title="Property Managers">
                        <div class="menu-icon text-center">
                            <i class="fa fa-handshake-o"></i>
                        </div>
                        <div class="menu-text">
                            <span class="nav-label">Property Managers</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/Account/GrantAccess" title="@Resource.grant_access">
                        <div class="menu-icon text-center">
                            <i class="fa fa-location-arrow"></i>
                        </div>
                        <div class="menu-text">
                            <span class="nav-label">@Resource.grant_access</span>
                        </div>
                    </a>
                </li>
                <li class="grant-access-users" style="padding-left: 50px;">
                    <a href="/Account/GrantAccessList" title="@Resource.granted_access_users">
                        <div class="menu-icon text-center">
                            <i class="fa fa-list"></i>
                        </div>
                        <div class="menu-text">
                            <span class="nav-label">@Resource.granted_access_users</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/Account/MyReview" title="@Resource.my_review">
                        <div class="menu-icon text-center">
                            <i class="fa fa-user-plus"></i>
                        </div>
                        <div class="menu-text">
                            <span class="nav-label">@Resource.my_review</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a style="width:105px!important;" href="/Account/FastOrder" title="@Resource.my_fast_order">
                        <div class="menu-icon text-center">
                            <i class="fa fa-sitemap"></i>
                        </div>
                        <div class="menu-text">
                            <span class="nav-label">@Resource.my_fast_order</span>
                        </div>
                    </a>
                </li>
                @*<li>
                    <a href="/Order/CardsList" title="Credit Card">
                        <div class="menu-icon text-center">
                            <i class="fas fa-credit-card"></i>
                        </div>
                        <div class="menu-text">
                            <span class="nav-label">@Resource.Credit_card</span>
                        </div>
                    </a>
                </li>*@
                <li>
                    <a href="/Bookings/PaymentDetail" title="Past Payment Detail">
                        <div class="menu-icon text-center">
                            <i class="fas fa-file-invoice-dollar"></i>
                        </div>
                        <div class="menu-text">
                            <span class="nav-label">@Resource.Payment_detail</span>
                        </div>
                    </a>
                </li>
                @*<li>
                    <a href="/Account/Mission" title="Your Mission">
                        <div class="menu-icon text-center">
                            <i class="fas fa-tasks"></i>
                        </div>
                        <div class="menu-text">
                            <span class="nav-label">@Resource.Mission</span>
                        </div>
                    </a>
                </li>*@
                <li>
                    <a href="/Order/Quotes" title="Quotes Requests">
                        <div class="logo-image">
                            <img src="~/Content/images/salesquotes.png" class="img-fluid">
                        </div>
                        
                        <div style="padding-left:20px;" class="menu-text">
                            <span class="nav-label">@Resource.Quotes</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/Order/ServiceRequests" title="Service Requests">

                        <div class="logo-image">
                            <img src="~/Content/images/ServiceRequest.jpeg" style="max-width:80%!important" class="img-fluid">
                        </div>
                        <div style="padding-left:30px; margin-top:12px!important" class="menu-text">
                            <span class="nav-label">@Resource.service_requests</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/Account/offers" title="Offers">
                        <div class="logo-image">
                            <img src="~/Content/images/offer.png" style="max-width:80%!important" class="img-fluid">
                        </div>
                        <div style="padding-left:22px; margin-top:12px!important" class="menu-text">
                            <span class="nav-label">@Resource.Offers</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <!-- Header Section -->
    <header class="inner_header">
        <div class="container">
            <div class="row header_row header_color">
                <nav class="navbar navbar-expand-lg custom_nav">
                    <div class="logo">
                        <a class="navbar-brand" href="/Home/Index">
                            <img src="~/Content/images/logo.png" alt="Image of logo" class="img-fluid logo_white" />
                            <img src="~/Content/images/logo_login.png" alt="Image of logo" class="img-fluid logo_color" />
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto" style="padding-top:2.3125rem;">
                            <li class="nav-item active">
                                <a class="nav-link" href="/Home/Index">@Resource.home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="ServiceLink" href="#">@Resource.services</a>
                            </li>
                            @if (Request.Cookies["Login"] != null)
                            {
                                if (Request.Cookies["Login"].Values["UserId"] != null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Property/PropertyList">@Resource.my_properties</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Bookings/BookingsList">@Resource.my_bookings</a>
                                    </li>
                                }
                            }
                            @if (Request.Cookies["Login"] != null)
                            {
                                if (Request.Cookies["Login"].Values["UserId"] == null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://bell-boy.com/about-us" target="_blank">@Resource.about_us</a>
                                    </li>
                                }
                            }
                            @if (Request.Cookies["Login"] != null)
                            {
                                if (Request.Cookies["Login"].Values["UserId"] != null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Chat/ChatList">@Resource.chat</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Account/Profile">@Resource.profile</a>
                                    </li>
                                }
                            }
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="modal" data-target="#Choose_language_modal">
                                    @if (ViewBag.SelectedLang != null)
                                    {
                                        if (ViewBag.SelectedLang == "en")
                                        {
                                            @Resource.english
                                            <img style="height: 15px; width: 22px;" src="~/Content/CountryIcon/england.jpg" />

                                        }
                                        @*else if (ViewBag.SelectedLang == "fr-FR")
                                        {
                                            @Resource.french
                                            <img style="height: 15px; width: 22px;" src="~/Content/CountryIcon/french.png" />
                                        }
                                        else if (ViewBag.SelectedLang == "ru-RU")
                                        {
                                            @Resource.russian
                                            <img style="height: 15px; width: 22px;" src="~/Content/CountryIcon/russian.png" />

                                        }
                                        else if (ViewBag.SelectedLang == "he-IL")
                                        {
                                            @Resource.hebrew
                                            <img style="height: 15px; width: 22px;" src="~/Content/CountryIcon/israel.png" />
                                        }*@
                                    }
                                </a>
                            </li>
                            @if (Request.Cookies["Login"] != null)
                            {
                                if (Request.Cookies["Login"].Values["UserId"] != null)
                                {
                                    <li  class="nav-item">
                                        <a  style="width:105px!important;" class="nav-link login_box" href="/Order/FastOrderList"><span>@Resource.fast_order</span></a>
                                    </li>
                                }
                            }
                            @if (Request.Cookies["Login"] == null)
                            {
                                <li class="nav-item">
                                    <a  style="width:190px!important;" class="nav-link login_box" href="/Account/Login"><span style="width:150px!important;">@Resource.login_Registration</span></a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a  style="width:190px!important;" class="nav-link login_box red-tooltip" href="#" for="epcfLevel3Name" id="tooltip" class=" required glyphicon glyphicon-info-sign pull-right" data-placement="bottom" title="@(ViewBag.GreetingMessage!= null? ViewBag.GreetingMessage.Text:"")">
                                        @*@if (getDateTime == DayOfWeek.Monday)
                                            {
                                                <span>Its Monday today!</span>
                                            }
                                            else if (getDateTime == DayOfWeek.Tuesday)
                                            {
                                            }
                                            else
                                            {
                                                <span>@Resource.welcome @Request.Cookies["Login"].Values["UserName"]</span>
                                            }*@
                                        @if (Request.Cookies["Login"].Values["UserName"] != null && Request.Cookies["Login"].Values["UserName"] != "")
                                        {
                                            <span>Hello @Request.Cookies["Login"].Values["UserName"]</span>
                                        }
                                        else
                                        {
                                            <span>Hello @Request.Cookies["Login"].Values["CompanyName"]</span>
                                        }
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </nav>
                @if (Request.Cookies["Login"] != null)
                {
                    if (Request.Cookies["Login"].Values["UserId"] != null)
                    {
                        <div>
                            <li class="header-icon dib" id="jobRequestCount">
                                <div class="notification_bell">
                                    <a  style="width:190px!important;" href="@Url.Action("NotificationList", "Notification")">
                                        <span class="user_notoficaton newAlertIcon">
                                            <i class="fa fa-bell"></i>
                                        </span>
                                        <span class="number_count_notification">
                                        </span>
                                    </a>
                                </div>
                            </li>
                        </div>
                        <div class="notification_bell">
                            <a href="/Account/Logout">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </header>

    <div class="content-wrap">
        <div class="main" style="margin-left: 230px;">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    <div id="loader" style="display:none;">
        <div class="lds-grid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row footer_box">
                <div class="col-lg-9 mb-3 text-lg-left text-center pl-lg-0">
                    <ul class="nav_footer">
                        <li class="active">
                            <a href="/Home/Index">@Resource.home</a>
                        </li>
                        <li>
                            <a href="https://bell-boy.com/about-us" target="_blank">@Resource.about_us</a>
                        </li>
                        <li>
                            <a href="https://bell-boy.com/terms-and-conditions" target="_blank">@Resource.terms_conditions</a>
                        </li>
                        <li>
                            <a href="https://bell-boy.com/terms-and-conditions" target="_blank">@Resource.privacy_policy</a>
                        </li>
                        @*<li>
                            <a href="/Settings/TestimonialList">@Resource.testimonials</a>
                        </li>*@
                        <li>
                            <a href="/Settings/ContactUs">@Resource.contact_us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 pr-lg-0 text-lg-right text-center">
                    <ul class="footer_social">
                        <li>
                            <a href="https://www.facebook.com/bellboyroomservice/"><i class="fa fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/bellboysmart"><i class="fab fa-twitter"></i></a>
                        </li>
                        @*<li>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </li>*@
                    </ul>
                </div>
                <div class="col-12">
                    <div class="copyright">
                        <p>&copy; 2022 <a href="#">@Resource.broom_service</a>. @Resource.footer_text</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Choose Language Popup -->
    <div id="Choose_language_modal" class="modal fade modal_sub_user">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="checklist_property_main">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="~/Content/images/close_btn.png" alt="close" />
                        </button>
                        <form class="my-4">
                            <div class="col-12">
                                <div class="row no-gutters new_chnage_box">
                                    @{
                                        @*for (int i = 0; i < LanguageMang.AvailableLanguages.Count; i++)
            {
                <div class="col-md-6">
                    <div class="inputGroup">
                        <input id="@LanguageMang.AvailableLanguages[i].LanguageCultureName" name="radio" type="radio" />
                        <label for="@LanguageMang.AvailableLanguages[i].LanguageCultureName">@LanguageMang.AvailableLanguages[i].LanguageFullName</label>
                    </div>
                </div>
            }*@

                                        <div class="col-md-6">
                                            <div class="inputGroup">
                                                <input id="@LanguageMang.AvailableLanguages[0].LanguageCultureName" name="radio" type="radio" />
                                                <label for="@LanguageMang.AvailableLanguages[0].LanguageCultureName">@LanguageMang.AvailableLanguages[0].LanguageFullName</label>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-12 text-center mt-5">
                                <button type="button" class="btn btn-primary choose_language_done">Done</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Alert Popup dont have a property -->
    <div class="modal fade modal_sub_user" id="modalNotify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="checklist_property_main">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="~/Content/images/close_btn.png" alt="close" />
                        </button>
                        <h3>You Don't have any Property, Please add Property.</h3>
                        <div class="col-12 text-center ">
                            <input type="button" data-dismiss="modal" aria-label="Close" value="Ok" class="btn btn-success" />
                            @*<input type="button" id="Cancel" value="Cancel" data-dismiss="modal" aria-label="Close" class="btn btn-danger" />*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {

            var cookieValue = "@Request.Cookies["culture"].Value.ToLower()";
            $("input[name=radio]").each(function () {
                if (this.id.toLowerCase() == cookieValue.toLowerCase()) {
                    $(this).prop('checked', true);
                }
            });

            $(".choose_language_done").click(function () {
                var selectedValue = $('input[name=radio]:checked').attr('id');
                window.location.href = "/Home/ChangeLanguage?lang=" + selectedValue;
            });

            $('#ServiceLink').click(function () {

               var userId = @(Request.Cookies["Login"] != null ? Request.Cookies["Login"].Values["UserId"]!=null? Request.Cookies["Login"].Values["UserId"] :"0" :"0");
               if(userId =='0')
               {
                   window.location.href = '/Order/CategoryList?propertyId = 0';
               }
               else
               {
                   $.ajax({
                    url: "@Url.Action("GetPropertyCount", "Order")",
                    data: { "UserId": userId},
                    type: 'POST',
                    success: function (data) {
                        if (data == '0')
                        {
                            $("#modalNotify").modal('show');
                        }
                        else
                        {
                            window.location.href = '/Order/CategoryList?propertyId = 0';
                        }
                    },
                    error: function () {
                        alert('something went wrong');
                    }
                  });
               }
            });

            $('#property_list_slider').owlCarousel({
                loop: true,
                center: true,
                margin: 20,
                nav: true,
                dots: false,
                autoplay: false,
                autoplayTimeout: 1500,
                autoplayHoverPause: true,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                    },
                    730: {
                        items: 2,
                        margin: 20,
                        center: false,
                    },
                    1100: {
                        items: 3,
                        margin: 20
                    }
                }
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $('#special_list_slider').owlCarousel({
                loop: true,
                margin: 20,
                nav: false,
                autoplay: true,
                autoplayTimeout: 2500,
                autoplayHoverPause: true,
                dots: true,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1.3,
                        dots: false
                    },
                    520: {
                        items: 2.3,
                        margin: 20,
                        dots: false
                    },
                    768: {
                        items: 2.6,
                        margin: 20
                    },
                    992: {
                        items: 2.3,
                        margin: 20
                    },
                    1100: {
                        items: 2.5,
                        margin: 20
                    }
                }
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $('#testimonials_list_slider').owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                autoplay: true,
                autoplayTimeout: 2000,
                autoplayHoverPause: true,
                dots: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                    }
                }
            })
        })
    </script>

</body>
</html>

<script>
    $(function () {
        var current = location.pathname;
        var segment = current.split("/").length - 1 - (current.indexOf("http://") == -1 ? 0 : 2);
        if (segment == 3) {
            $('.panel-default').removeClass('active');
            return false;
        }
        $('.navbar-nav li a').each(function () {
            $(this).parent().removeClass('active');
            var $this = $(this);
            matching_value = $this.attr('href');
            if (current.indexOf(matching_value) !== -1) {
                $(this).parent().addClass('active');
            }
        });

        $(document).ready(function () {
            $(".side-btn").click(function () {
                $("#menu").toggleClass("mob-menu");
            });
        });

        $('#side-menu li a').each(function () {
            $(this).parent().removeClass('active');
            var $this = $(this);
            matching_value = $this.attr('href');
            if (current == matching_value) {
                $(this).parent().addClass('active');
            }
        });

        $('.nav_footer li a').each(function () {
            $(this).parent().removeClass('active');
            var $this = $(this);
            matching_value = $this.attr('href');
            if (current.indexOf(matching_value) !== -1) {
                $(this).parent().addClass('active');
            }
        });
    });


    setInterval(function () {
        ChangeNotificationAlertIcon();
    }, 30000);


    function ChangeNotificationAlertIcon() {
        $.ajax({
            url: '/Notification/ChangeNotificationAlertIcon',
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (data) {
                console.log("new", data);
                if (data != 0) {
                    $('.number_count_notification').empty();
                    $('.number_count_notification').html('<div class="badge_count number_count">' + data + '</div>');
                }
                else {
                }
            }
        });
    }
</script>
